@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body {
	font-size:16px; /*1em = 16px*/
	font-family: 'Roboto', serif;
	font-weight:normal;
	font-color: #202022;
}

header {
	padding: 100px 150px;
}

nav {
	margin: auto;
	text-align: center;
}

nav a:link{
	font-family: 'Oswald', sans-serif;
	color: #000;
	padding: 0 32px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition:color ease-in-out .5s;
	-moz-transition:color ease-in-out .5s;
	-o-transition:color ease-in-out .5s;
	transition:color ease-in-out .5s;
}

nav a:visited{
	color: #000;
}

nav a:hover{
	color: #18A8DF;
}

nav a:active{
	color: #18A8DF;
}

main {
	background-color: #fff;
	padding: 50px 0;
}

section {
	padding: 50px 0;
}

footer {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	padding:200px 0 250px;
}

h1{
	font-family: 'Lato' sans-serif;
	font-size:4em;
	text-align:center;
	color: #fff;
	font-weight: bold;
	margin: 200px 0 250px;
}

h1,h2,h3,h4 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

h2{
	font-size:3em;
	color: #878787
	font-weight: bold;
	text-align: center;
	margin: .5em 0 .5em;
}

h3{
	font-size:2.25em;
	color: #878787;
	margin: .5em;
}

h4{
	font-size:1.5em;
	text-align:center;
	color: #878787;
}

p {
	font-family: 'Roboto', serif;
	font-size: 1em;
	line-height: 1em;
	font-color: #202022;
}

a {
	text-decoration: none;
}

label {
	font-family: 'Oswald', sans-serif;
	color: #000;
	padding:0 32px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: none;
}

#landing {
	display: inline-block;
	background-image: url("../images/tabletLaptopHeader.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment:fixed;
	width: 100%;
	height: 100vh;
}

#whatWeDo {
	background-color: #ffffff;
	padding: 4%;
}

#aboutGayane {
	background-color: #CACACA;
	padding: 4%;
}

#toggle{
	display: none;
}

#headshot {
	float: left;
	margin: 15px 0 15px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.headerLogo {
	width: 200px;
	height: 44px;
	display: block;
	float: left;
	background: url("..images/gayaneLogo.png")  no-repeat center center / 100% auto;
	position: relative;
	top: 50%;
}

.digitalFundraising {
	padding: 4%;
	float: left;
	width: 45%;
}

.social {
	padding: 4%;
	float: right;
	width: 45%;
}

.advocacy {
	padding: 4%;
	float: left;
	width: 45%;
}

.contentStrategy {
	padding: 4%;
	float: right;
	width: 45%;
}

.aboutGayane {
	clear: both;
}
